 body{
    font-family: sohne;
    padding: 80px;
    margin-left: 10%;
    font-weight: 500;
    font-size: larger;
    line-height: 30px;
 }
 .topic{
   text-align: center;
 }
 div.pic1{width: 100%;
   padding-right: 50px;
   margin-left: 25%;
   
  


 }
 div.pictures {
    padding-bottom: 15px;
    width: 100%;
    margin-top: 20px;
    text-align: center;
}
 figcaption {
    padding-bottom: 30px;
 }